<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diretivas v-for</title>
    </head>
    <body>
        <div id="directivas">
            <h2>Cidades do mundo!</h2>
            <!-- <ol>
                >array<
                <li v-for='city in cities'>{{ city }}</li>
            </ol> -->

            <ol>
                <li v-for='item in names'>
                    {{item.name}} - {{item.comp}}
                </li>
            </ol>

            <h2>Grandes Filmes Da História</h2>
            <ul>
                <li v-for='(picture,index) in movies'>
                    {{index }}.{{picture}}
                </li>
            </ul>

            <h2>Empresa</h2>
            <p v-for='(value,key,index) in company'> {{key}}: {{value}}</p>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

        <script>
            let app = new Vue({
                el:'#directivas',
                data:{
                    // cities:['New York', 'São Paulo', 'Joinville', 'Rio de janeiro']
                    //ARRAY },
                    names: [{
                        name: 'Roberto',
                        comp: 'Silva souza',
                    },{
                        name: 'davi',
                        comp: 'costa',
                    },{
                        name: 'guilherme',
                        comp: 'albanaz',
                    },{
                        name: 'clésio',
                        comp: 'souza',
                    }],
                    movies: ['Star Wars', 'Jurassic Park', 'De volta para o futuro'],
                    company:{
                        name:'Facebook',
                        year:'2004',
                        creator: 'Mark'
                    }
                }
            })

        </script>
        
    </body>
</html>