<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diretivas v-if e v-else</title>
    </head>
    <body>
        <div id="directivas">

            <h1 v-if="show">Hcode Treinamentos</h1>
            
            <h3 key='available' v-if="tickets >= 50">Há ingressos disponíveis!</h3>

            <h3 key="almost" v-else-if='tickes >=1'>Os ingressos estão acabando!</h3>

            <h3 key='empty' v-else>Os ingressos acabaram!</h3>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

        <script>
            let app = new Vue({
                el:'#directivas',
                data:{
                    show:true,
                    tickets: 100
                },
            })

        </script>
        
    </body>
</html>