<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diretivas v-model</title>
    </head>
    <body>
        <div id="directivas">
            
            <h3 v-bind:style="{ fontSize: textSize + 'px' }">Hcode Treinamentos</h3>

            <input type="text" placeholder="Digite o tamanho do texto" v-model="textSize">

            <h4 v-bind:style='{color: textColor}'>que a força esteja com você</h4>

            <input type="text" placeholder="Digite em inglês a cor do texto" v-model="textColor">

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

        <script>
            let app = new Vue({
                el:'#directivas',
                data:{
                    textSize: 10,
                    textColor:'red'
                }
            })

        </script>
        
    </body>
</html>